* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

 /* Style the top navigation bar */
/*------------navbar-------------*/

.navigation{
  /*background: #171c24;*/
  background: #fff;
 /* position: fixed;*/
  width: 100%;
}
.navigation nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color:#000000;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #085eff;
}
.navigation .search-icon,
.navigation .menu-icon{
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.navigation .menu-icon{
  display: none;
}
.navigation #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.navigation .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.navigation #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: rgb(0, 0, 0);
  background: #ffffff;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #000000;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #ffffff;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
}
.navigation input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .navigation nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .navigation .search-box{
    max-width: calc(100% - 100px);
  }
  .navigation .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .navigation .menu-icon{
    display: block;
  }
  .navigation #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #ffffff;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .navigation nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .navigation .search-box{
    max-width: calc(100% - 70px);
  }
  .navigation .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .navigation .search-box input{
    padding-right: 30px;
  }
}


/*---------------end of navbar------------*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
  /*----------------------------------------------------random password generator css code--------------------------------------*/
  .password{
    border: 1px solid;
    display: flex;
    justify-content: center;
  }
  .container{
    width: 450px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  }
  .container h2{
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #d4dbe5;
  }
  .wrapper{
    margin: 1.25rem 1.75rem;
  }
  .wrapper .input-box{
    position: relative;
  }
  .input-box input{
    width: 100%;
    height: 53px;
    color: #000;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #aaa;
    padding: 0 2.85rem 0 1rem;
  }
  .input-box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #707070;
  }
  .input-box span:hover{
    color: #4285F4!important;
  }
  .wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    position: relative;
    background: #dfdfdf;
    margin-top: 0.75rem;
    border-radius: 25px;
  }
  .pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
  }
  .pass-indicator#weak::before{
    width: 20%;
    background: #E64A4A;
  }
  .pass-indicator#medium::before{
    width: 50%;
    background: #f1c80b;
  }
  .pass-indicator#strong::before{
    width: 100%;
    background: #4285F4;
  }
  .wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
  }
  .pass-length .details{
    display: flex;
    justify-content: space-between;
  }
  .pass-length input{
    width: 100%;
    height: 5px;
  }
  .pass-settings .options{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .pass-settings .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
  }
  .options .option:first-child{
    pointer-events: none;
  }
  .options .option:first-child input{
    opacity: 0.7;
  }
  .options .option input{
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  .options .option label{
    cursor: pointer;
    color: #4f4f4f;
    padding-left: 0.63rem;
  }
  .wrapper .generate-btn{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4285F4;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
  }